<div class = "container">
    <div class = "row mt-5">
        <div class = d-inline>
            <div class="breadcrumb-item">
            <a routerLink="/home">Home</a> /<a class ="breadcrumb-item active">futebol</a>
        </div>
        </div>
    </div><div class = "artigo">
    <table class = "tabela">
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>EFootball 2022</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 150,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Pes 2021</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 200,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>EFootball Pro Evolution Soccer 2020</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 350,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Pro Evolution Soccer 2019</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 250,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Pro Evolution Soccer 2018</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 200,00</h3>
                    </div>
                </article>
            </th>
            
        </tr>
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Pro Evolution Soccer 2017</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 10,49</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Pro Evolution Soccer 2016</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 150,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Pro Evolution Soccer 2015</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 35,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Pro Evolution Soccer 2014</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 85,00</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Pro Evolution Soccer 2013</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 95,00</h3>
                    </div>
                </article>
            </th>

        </tr>

    </table>

</div>