<div class = "container">
    <div class = "row mt-5">
        <div class = d-inline>
            <div class="breadcrumb-item">
            <a routerLink="/home">Home</a> /<a class ="breadcrumb-item active">rpg</a>
        </div>
        </div>
    </div><div class = "artigo">
    <table class = "tabela">
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Torment: Tides of Numenera</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 15,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Dragon Quest III</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 20,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Vampire: The Masquerade – Bloodlines</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 35,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Dark Cloud 2</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 25,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Lost Odyssey</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 20,00</h3>
                    </div>
                </article>
            </th>
            
        </tr>
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>The World Ends With You</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 100,49</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Golden Sun</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 150,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Pillars of Eternity</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 35,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Bastion</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 85,00</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Destiny</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 95,00</h3>
                    </div>
                </article>
            </th>

        </tr>

    </table>

</div>