<div class = "container">
    <div class = "row mt-5">
        <div class = d-inline>
            <div class="breadcrumb-item">
            <a routerLink="/home">Home</a> /<a class ="breadcrumb-item active">ação</a>
        </div>
        </div>
    </div><div class = "artigo">
    <table class = "tabela">
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>GTA London</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 40,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>GTA V</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 200,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>GTA Vice City Stories </h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 35,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Grand Theft Auto: Chinatown Wars </h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 25,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>GTA IV</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 50,00</h3>
                    </div>
                </article>
            </th>
            
        </tr>
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>GTA:San andreas</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 10,49</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Grand Theft Auto: Vice City</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 19,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Grand Theft Auto III </h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 35,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>GTA Advance </h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 85,00</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Grand Theft Auto IV: Episodes from Liberty City</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 95,00</h3>
                    </div>
                </article>
            </th>

        </tr>

    </table>

</div>