<div class = "container">
    <div class = "row mt-5">
        <div class = d-inline>
            <div class="breadcrumb-item">
            <a routerLink="/home">Home</a> /<a class ="breadcrumb-item active">corrida</a>
        </div>
        </div>
    </div><div class = "artigo">
    <table class = "tabela">
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Forza Horizon 5</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 200,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Lego Forza Horizon 4 Xbox One Digital</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 200,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Forza Horizon 4</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 60,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Forza Street</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 70,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Forza Motorsport 7</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 200,00</h3>
                    </div>
                </article>
            </th>
            
        </tr>
        <tr>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Forza Motorsport 6: Apex</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 100,49</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Forza Motorsport 6</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 150,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Forza Motorsport 5</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 350,00</h3>
                    </div>
                </article>
            </th>
            
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Forza Motorsport 4</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 85,00</h3>
                    </div>
                </article>
            </th>
            <th>
                <article>
                    <div class = "descricao">
                        <h2>Forza Motorsport 2</h2>
                    </div>
                    <div class= "descricao">
                        <h3>R$ 95,00</h3>
                    </div>
                </article>
            </th>

        </tr>

    </table>

</div>